<%- include("partials/header.ejs") %>

<main class="container">
  <h1>My blog</h1>
  <button class="new-post">new post</button>

  <% newBlogs.forEach(function(blog){ %>

  <section class="blog">
    <h2 class="blog-h"><%= blog.header %></h2>
    <p class="date"><%= blog.date %></p>
    <article class="blog-text"><%= blog.paragraph %></article>
    <p class="author"><%= blog.author %></p>
    <div class="btn-container">
      <button class="edit" onclick="window.location.href='/post'">edit</button>

      <button class="delete">delete</button>
    </div>
  </section>
  <% }); %>
</main>

<script>
  $(document).ready(function () {});
</script>

<!-- <%-include("partials/footer.ejs") %> -->
