<%- include("partials/header.ejs") %>

<main class="container">
  <h1>My blog</h1>
  <button class="new-post" onclick="window.location.href='/post'">
    new post
  </button>

  <% newBlogs.forEach(function(blog){ %>

  <section class="blog">
    <h2 class="blog-h"><%= blog.header %></h2>
    <p class="date"><%= blog.date %></p>
    <article class="blog-text"><%= blog.paragraph %></article>
    <p class="author"><%= blog.author %></p>
    <div class="btn-container">
      <form action="/edit" method="post">
        <input type="hidden" name="edit" value="<%= blog.id %>" />
        <button class="edit" type="submit">Edit</button>
      </form>

      <form action="/delete" method="post">
        <input type="hidden" name="delete" value="<%= blog.id %>" />
        <button type="submit" class="delete">delete</button>
      </form>
    </div>
  </section>
  <% }); %>
</main>

<script>
  $(document).ready(function () {});
</script>

<!-- <%-include("partials/footer.ejs") %> -->
